<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML with CSS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Internal style sheet -->
    <style>
        body {
            font-family: 'Open Sans';
            font-size: 16px; 
        }
    </style>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <!-- Inline stylesheet -->
    <h3 style="font-size:32px" class="bold">Welcome to a styled HTML document</h3>
    <!-- ID and Class selectors -->
    <div id="grey" class="bold">
        <h3>Heading inside div</h3>
        <p>Paragraph inside div</p>
    </div>    
    <!-- Multiple Classes -->
    <div class="bold uppercase">
        <p class="paragraph">This first line is targeted by a pseudo-element.<br/>Second line of paragraph.</p>
    </div>

    <div class="list">
        <h3>Masarap na kainan sa Taft:</h3>
        <ul>
            <li>24 Chicken</li>
            <li>Dixie's</li>
            <li>Colonel's Curry</li>
            <li>The Barn</li>
        </ul>
    </div>
    <br>
    <a class="hoverable" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Hover over me!</a>
</body>

</html>