#grey {
    color:rgba(128, 128, 128, 0.5); 
}

/* Doesn't get applied */
.green {
    color: green;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.bold, .uppercase {
    color: blue; 
}

/* Doesn't get applied */
.list li {
    color: green;
}

/* Overwrites previous style */
.list li {
    color: red;
}

.hoverable:hover {
    color: green;
}

.paragraph::first-line {
    font-size: 20px;
}
